* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    background-color: #161853;
    height: 650px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    color: yellow;
    font-size: 50px;
    font-weight: 700px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
    height: 70px;
    width: 200px;
    border-radius: 25px;
    background: #000957;
    box-shadow: rgba(0, 0, 0, 0.664) 0px 5px 15px;
    border: none;
    color: yellow;
    border: 2px solid yellow;
    font-size: 20px;
    font-weight: 700px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn:hover {
    background: yellow;
    color: #000957;
    cursor: pointer;
}